*.a
*.app
*.bin
*.d
*.dll
*.dylib
*.exe
*.gch
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.slo
*.smod
*.so
*.wav
.vscode
CMakeCache.txt
CMakeFiles
CMakeScripts
CTestTestfile.cmake
Makefile
Testing
bin
build
cmake_install.cmake
compile_commands.json
install_manifest.txt
videos
